<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="text-align: justify;"> Our team is composed of experienced professionals with a deep passion for football and community engagement. We are committed to steering JOLLY MINOU F.C. towards success both on and off the field. We have assembled a highly skilled and dedicated coaching staff to guide our players to their fullest potential. Our squad is a mix of experienced professionals and young talents, all united by their passion for football and their drive to achieve excellence.</p>
      </div>
      <div class="col-lg-4">
        <p style="text-align: justify;"> JOLLY MINOU F.C. was established with the vision of creating a dynamic and inclusive football club that not only excels in competition but also serves as a pillar of the community. Our mission is to cultivate talent, foster sportsmanship, and bring together fans from all walks of life through the beautiful game. </p>
      </div>
    </div>
  </div>
</section>
