<!-- Footer -->
<footer>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Club HQ</h3>
          <p>FL, USA</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Our mission</h3>
          <p>Inspire the next generation of Haitian football talent while building a winning club culture.</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Follow us</h3>
          <ul class="list-inline">
            {% for network in site.social %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row footer-links-row">
        <div class="col-md-12 text-center">
          <ul class="list-inline footer-links">
            <li><a href="{{ '/careers/' | relative_url }}">Careers</a></li>
            <li><a href="{{ '/privacy/' | relative_url }}">Privacy</a></li>
            <li><a href="{{ '/policies/' | relative_url }}">Policies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} {{ site.time | date: '%Y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
