<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="{% if page.url == '/' or page.url == '' %}#portfolio{% else %}{{ '/' | relative_url }}#portfolio{% endif %}">Roster</a>
        </li>
        <li class="page-scroll">
          <a href="{% if page.url == '/' or page.url == '' %}#leadership{% else %}{{ '/' | relative_url }}#leadership{% endif %}">Leadership</a>
        </li>
        <li class="page-scroll">
          <a href="{% if page.url == '/' or page.url == '' %}#about{% else %}{{ '/' | relative_url }}#about{% endif %}">Club story</a>
        </li>
        <li class="page-scroll">
          <a href="{% if page.url == '/' or page.url == '' %}#contact{% else %}{{ '/' | relative_url }}#contact{% endif %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
